<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/status.css">
</head>

<body>
  <div class="status"><%= message %>成功</div>
  <a href="/bill/list" class="link">跳转到列表页面</a>
</body>

</html>