<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1><%= title %>登录页面</h1>
  <form action="/portrait" method="post" enctype="multipart/form-data">
    用户名: <input type="text" name="userName" value="1111"> <br><br>
    <input type="file" name="portrait"> <br><br>
    <input type="file" name="idCard"> <br><br>
    <input type="submit" value="提交">
  </form>
</body>

</html>